.header-wrapper {
  padding: 20px 0;
  /* backdrop-filter: blur(5px); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s ease;
}

.header-wrapper.scrolled {
  padding: 5px 0;
  background-color: rgb(26, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--screen-xl);
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 800;
}

.header .right {
  display: flex;
  align-items: center;
  color: #eee;
}

.nav ul {
  display: flex;

  list-style-type: none;
}

.nav a {
  text-decoration: none;
  display: block;
  color: inherit;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #fff;
}

.nav a.link {
  padding: 10px 20px;
}

.nav div {
  width: 45px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav svg {
  display: block;
}

.divider {
  margin: 0 30px;
  width: 2px;
  height: 25px;
  background: #eee;
}

@media screen and (min-width: var(--screen-2xl)) {
  .header {
    max-width: var(--screen-2xl);
  }
}
