.transaction {
  background: #2e2e2e;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #141414;
  position: relative;
}

.image {
  padding: 10px 0;
  width: 100%;
  background-color: #2e2e2e;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #5f5f5f 25%, transparent 25%),
    linear-gradient(225deg, #5f5f5f 25%, transparent 25%),
    linear-gradient(45deg, #5f5f5f 25%, transparent 25%),
    linear-gradient(315deg, #5f5f5f 25%, #2e2e2e 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  overflow: hidden;
}

.image img {
  display: block;
  margin: 0 auto;
}

.transaction .txinfo {
  padding: 20px;
}

.transaction .txinfo .field {
  margin-bottom: 10px;
}

.transaction .txinfo label,
.transaction .txinfo span {
  display: block;
}

.transaction .txinfo label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #ccc;
}

.transaction .txinfo .timestamp {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  color: #ccc;
  font-style: italic;
  bottom: 10px;
  right: 20px;
  padding: 5px 10px;
  background-color: #2e2e2e;
  z-index: 10;
}

.transaction .txinfo .line-deco {
  position: absolute;
  height: 1px;
  width: calc(100% - 40px);
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #888;
}
