.landing-page {
    min-height: 100vh;
    background-image: linear-gradient(
      to right top,
      #1e1e1e,
      #232323,
      #292929,
      #2e2e2e,
      #343434
    );
  }
  
  .landing-page .landing {
    margin: 0 auto;
    max-width: 1536px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 70vh;
  }
  
  .landing-page .landing .introduction {
    max-width: 700px;
  }
  
  .landing-page .landing .introduction > * {
    margin: 0;
  }
  
  .landing-page .landing .introduction .accented {
    font-size: 14px;
    font-weight: 700;
    color: #47afbe;
    margin-bottom: 0px;
  }
  
  .landing-page .landing .introduction .heading {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1;
  }
  
  .landing-page .landing .introduction .description {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  .landing-page .landing .introduction .heading .gradient {
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .landing-page .inspired {
    max-width: 1536px;
    margin: 0 auto;
    padding: 200px;
  }
  
  .landing-page .inspired h3,
  .landing-page .transactions h3 {
    text-transform: uppercase;
    color: #a56379;
    text-align: center;
  }
  
  .landing-page .inspired ul {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
  }
  
  .landing-page .inspired img {
    height: 40px;
    position: relative;
    filter: invert(100%);
  }
  
  .landing-page .inspired img::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
  }
  
  .landing-page .transactions {
    max-width: var(--screen-lg);
    margin: 0 auto;
    min-height: 50vh;
  }
  
  @media screen and (min-width: var(--screen-xl)) {
    .landing-page .transactions {
      max-width: var(--screen-xl);
    }
  }