.img-button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #444;
  border-radius: 999px;
  background: none;
  color: white;
  transition: border-color 0.4s ease;
}

.img-button > svg {
  display: block;
  width: 20px;
  height: 20px;
}

.img-button:hover {
  border-color: #666;
}
