.input {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background: #2f2f2f;
  color: #eee;
  font-size: 1em;
}

.input:focus,
.input:active {
  outline: 2px solid #666;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}
