.stats-card > * {
  display: block;
}

.stats-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats-card:not(:last-of-type) {
  border-right: 1px solid white;
}

.stats-card h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 10px 0;
}

.stats-container {
  height: 300px;
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
